.container {
  display: flex;
}
body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;
}

 nav {
  background-color: black;
}

.navbar {
  display: flex;
  height: 40px;
  text-align: center;
  width: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vh;
}

li a:hover:not(.active) {
  background-color: #111;
}
.responsive {
  width: 100px;
  height: 100px;
}